@media only screen and (max-width: 300px) {
    body {
        background-color: red;}
   /* div.large {display: none;}
    div.medium {display: none;}
    div.small {
        font-size: 20px;
    }*/
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 768px)
{
    body {
        background-color: green;
    }
   /* div.large {display: none;}
    div.small {display: none;}
    div.medium {
        font-size: 20px;
    }*/
    .small {width: 66.66%;}
    .medium {width: 33.33%;}
    .large {width: 100%;}
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }

    /*div.small {display: none;}
    div.medium {display: none;}
    div.large {
        font-size: 40px;
    }*/
    div.small {
        float: left;
        display: inline;
        width: 30%;
        margin: 15px;
    }

    div.medium {
        float: left;
        display: inline;
        width: 30%;
        margin: 15px;
    }

    div.large {
        float: left;
        display: inline;
        width: 30%;
        margin: 15px;
    }
}

div.small, div.medium, div.large{
    border: 2px solid white;
}
